Package: apm
Source: amber-ce
Version: 1.1.2
Architecture: amd64
Maintainer: shenmo <shenmo@spark-app.store>
Installed-Size: 48724
Depends: bubblewrap, flatpak,  policykit-1 | pkexec | polkit-1 | polkit, systemd, procps,coreutils,fuse-overlayfs,xz-utils,libnotify-bin,curl,xdg-user-dirs
Section: misc
Conflicts: ace-host-integration
Priority: optional
Multi-Arch: foreign
Homepage: https://gitee.com/amber-ce/amber-pm/
Description: bwrap wrapper for install and running debs inside a Amber-PM container
