Package: apm
Source: amber-ce
Version: 1.0.7.2-1
Architecture: amd64
Maintainer: shenmo <shenmo@spark-app.store>
Installed-Size: 49056
Depends: bubblewrap, flatpak,  policykit-1 | pkexec | polkit-1 | polkit, systemd, procps,coreutils,fuse-overlayfs
Section: misc
Conflicts: ace-host-integration
Priority: optional
Multi-Arch: foreign
Homepage: https://gitee.com/amber-ce/amber-pm/
Description: bwrap wrapper for install and running debs inside a Amber-PM container
