Package: ace-host-integration
Version: 1.2.2
Section: misc
Priority: optional
Depends: bash
Maintainer: shenmo <shenmo@spark-app.store>
Architecture: all
Conflicts: apm
Description: ace-host-integration
