[Unit]
Description=APM Daily Update
After=apt-daily.service network.target network-online.target systemd-networkd.service NetworkManager.service connman.service


[Service]
Type=simple
RemainAfterExit=yes 
ExecStart=apm clean && apm update
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
