[Unit]
Description=APM GXDE Fixer
After=apt-daily.service network.target network-online.target systemd-networkd.service NetworkManager.service connman.service


[Service]
Type=simple
RemainAfterExit=yes 
ExecStart=/var/lib/apm/apm/files/bin/ace-gxde-fixer 
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
